<button (click)="createNewProduct()" >Create</button>
<button (click)="onShowDetail('123123')" >Detail not found</button>


<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="onloadMore()">Load more</button>
</div>

<div class="product-detail" [class.active]="showProductDetail">
  {{statusDetail}}
  <div *ngIf="producChosen">
    <button  (click)="toggleProductDetail()">Close</button>
    
    <h1>{{producChosen.title}}</h1>
    <swiper
      [slidesPerView]="1"
    >
      <ng-template swiperSlide *ngFor="let img of producChosen.images" >
        <img [src]="img" alt="">
      </ng-template>
    </swiper>
    <p>{{producChosen.description}}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>

  </div>
</div>