<a [routerLink]="['/product', product.id]">
  <app-img *ngIf="product.images.length > 0" [img]="product.images[0]"></app-img>
</a>
<h2>${{product.price | currency: 'MXN'}}</h2>
<p>{{product.title}}</p>
<p>{{product?.taxes | currency: 'MXN'}}</p>
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<a routerLink="." [queryParams]="{product: product.id}">Ver detalle</a>
<button (click)="addToCart()">Add cart</button>