<div *ngIf="user">
  <h2>My profile</h2>
  <p>Nombre: {{ user.name }}</p>
  <p>Email: {{ user.email }}</p>
  <p>Role: {{ user.role }}</p>
  <a *ngIf="user?.role === 'admin'" routerLink="/cms">Ir al cms</a>
</div>