/* You can add global styles to this file, and also import other style files */
@import url(./styles/reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import '~swiper/swiper.scss';

* {
  font-family: 'Quicksand', sans-serif;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
    }
  }
}